.features {
    background-color: #f4f4f4;
    padding: 90px 0;
    &-title {
        font-weight: bold;
    }
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
    }
}
